.main-div
{
    overflow-x: scroll;
    min-width: 3000px; 
    overflow: hidden;                   
}
#box
{
    border: 1px solid teal;
    width: 92px;
    color:teal;
    display: block;
    float: left;
    height: 82px;
    margin-left: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.day
{
    font-size: 14px;
}
.day1
{
    font-size: 14px;
}


 
.highlight
{
    background-color:teal;
    color: white !important;
}

.date
{
    width:20% !important;
}

input
{
    width: 100%;
    text-align: center
}

._720kb-datepicker-calendar-header:nth-child(odd),._720kb-datepicker-calendar-years-pagination{
    background-color: teal !important;
    
}

._720kb-datepicker-calendar-years-pagination-pages
{
    background: teal !important;
}

._720kb-datepicker-calendar-years-pagination a, ._720kb-datepicker-calendar-month span, ._720kb-datepicker-default-button 
{
    color: white !important;
}

._720kb-datepicker-calendar-days-header {
    background: mintcream !important;
}
